<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="|Update Item: ${item.name}|"></title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <!-- <link th:href="@{/styles/item.css}" rel="stylesheet"/> -->
</head>

<body>
  <div class="form-container">
    <form action="#" th:action="@{/item/${item.id}/update}" th:object="${item}" method="post" class="add-form">
      <input type="hidden" th:field="*{id}"/>
      <label>
        Name:
        <input type="text" th:field="*{name}" required />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
      </label>
      <label>
        Type:
        <select name="type">
          <option th:each="typeOption : ${T(com.github.veronfc.gjald.item.Type).values()}" th:value="${typeOption}"
            th:text="${typeOption}"></option>
        </select>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error"></p>
      </label>
      <label>
        Description:
        <input type="text" th:field="*{description}" />
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></p>
      </label>
      <label>
        Unit price:
        <input type="number" th:field="*{unitPrice}" min="0" step="0.01" required />
        <p th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}" class="error"></p>
      </label>
      <label>
        Unit type:
        <input type="text" th:field="*{unitType}" required />
        <p th:if="${#fields.hasErrors('unitType')}" th:errors="*{unitType}" class="error"></p>
      </label>
      <label>
        Created:
        <input type="text" th:value="${#temporals.format(item.createdAt, 'dd MMMM yyyy @ HH:mm')}" readonly/>
        </label>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </form>
  </div>
</body>

</html>