<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Customer</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  </head>

  <body>
    <div th:if="${errors}">
      <p th:if="${errors.hasFieldErrors('name')}" th:text="${errors.getFieldError('name').getDefaultMessage()}"></p>
      <p th:if="${errors.hasFieldErrors('email')}" th:text="${errors.getFieldError('email').getDefaultMessage()}"></p>
      <p th:if="${errors.hasFieldErrors('phone')}" th:text="${errors.getFieldError('phone').getDefaultMessage()}"></p>
      <p th:if="${errors.hasFieldErrors('billingAddress')}" th:text="${errors.getFieldError('billingAddress').getDefaultMessage()}"></p>
    </div>
    <form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
      <label>
        Name:
        <input type="text" th:field="*{name}" required/>
      </label>
      <label>
        Email address:
        <input type="email" th:field="*{email}"/>
      </label>
      <label>
        Phone number:
        <input type="number" th:field="*{phone}" required/>
      </label>
      <label>
        Billing address:
        <input type="text" th:field="*{billingAddress}" required/>
      </label>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </form>
  </body>
</html>