<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="|Update Customer: ${customer.name}|"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link th:href="@{/styles/customer.css}" rel="stylesheet"/>
  </head>

  <body>
    <div class="form-container">
      <form action="#" th:action="@{/customer/update}" th:object="${customer}" method="post" class="add-form">
        <input type="hidden" th:field="*{id}"/>
        <label>
          Name:
          <input type="text" th:field="*{name}" required/>
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
        </label>
        <label>
          Email address:
          <input type="email" th:field="*{email}"/>
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
        </label>
        <label>
          Phone number:
          <input type="text" th:field="*{phone}" required/>
          <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error"></p>
        </label>
        <label>
          Billing address:
          <input type="text" th:field="*{billingAddress}" required/>
          <p th:if="${#fields.hasErrors('billingAddress')}" th:errors="*{billingAddress}" class="error"></p>
        </label>
        <label>
          Created:
          <input type="text" th:value="${#temporals.format(customer.createdAt, 'dd MMMM yyyy @ HH:mm')}" readonly/>
        </label>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
      </form>
    </div>
  </body>
</html>